body {
  margin: 0;
  border: none;
}

.main {
  /* Layout Properties */

  width: 100%;
  height: 100%;
  /* UI Properties */
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
}

.padding-main {
  padding: 72px 150px 72px 150px;
}

.hero-image {
  background: transparent url("img/Ellipse 2.png") 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  opacity: 1;
  max-width: 576px;
  max-height: 576px;
  border-radius: 50%;
}

.image {
  padding-left: 16px;
}

/* flex second part */

/* main div */
.d1 {
  max-width: 500px;
  margin-left: 165px;
}

.d2 {
  margin-bottom: 20px;
}

.para-main {
  font-size: 40px;
  letter-spacing: 47px;

  text-align: left;
  font: normal normal 300 40px/47px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.red-text {
  font: normal normal 900 40px/53px Roboto;
  letter-spacing: 0px;
  color: #c8242f;
  opacity: 1;
  font-weight: bold;
}

.para-login {
  font: normal normal normal 25px/33px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
  margin-bottom: 25px;
}

.common-margin-input {
  width: 430px;
  height: 50px;
  margin-bottom: 27px;
}

.common-input {
  width: 100%;
  height: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
  opacity: 1;
  text-indent: 14px;
}

.common-input {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
}

/* made by jay dholakia */

.button-red {
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  width: 140px;
  height: 45px;
  text-align: center;
  color: white;
  border: none;
}

.forgot-password-text {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  text-decoration: none;
}

.forgot-password-text {
  align-items: center;
}

.align-button-text {
  align-items: center;
}

.member-text {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
}

.register {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #c8242f;
  opacity: 1;
  text-decoration: none;
}

/* dashboard css design  */

.dashboard-header {
  /* width: 100%; */
  height: 80px;
  background: #ffffff 0% 0% no-repeat;
  display: flex;
  flex-direction: row;
  /* position: fixed; */
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

/* logo and sidebar button */

.sidebar-header-logo {
  height: 80%;
  width: 15%;
  /* display: inline-block;
  vertical-align: middle; */

  display: flex;
  align-items: center;
  /* margin: auto; */
  /* align-items: center; */
  /* text-align: center; */
  /* display: inline-block;
  vertical-align: middle; */
}

.sidebar-logo {
  vertical-align: middle;
  display: inline-block;
  width: 18px;
  height: 12px;
  margin-right: 25px;
  margin-left: 8px;
  margin-bottom: 18px;
}

.company-logo {
  display: inline-block;
  vertical-align: middle;
  width: 142px;
  height: 32px;
}

/* form search and logo of search made by jay dholakia */

.form-notification {
  /* min-width: 0; */
  width: 60%;
  margin-left: 30px;
  /* display: inline-block;
  vertical-align: middle; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: transparent;
  margin-right: 10px;
}

.search-input {
  border: none;
  padding: 12px;
  width: 880px;
}

.notification-icon {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: transparent;
  margin-right: 10px;
  margin-bottom: 3px;
  align-self: flex-end;
}

/* profile icons css */

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* display: block; */
  /* margin: auto; */
  justify-content: space-between;
  margin-left: 60px;
}

.button-profile-pic {
  background-color: transparent;
  border: transparent;
}

.profile-picture {
  width: 44px;
  height: 44px;
  /* opacity: 1; */
  /* display: inline-block;
  vertical-align: middle; */
  margin-left: 50px;
  margin-right: 12px;
}

.profile-name {
  /* display: inline-block;
  vertical-align: middle; */
  align-self: center;
  width: 68px;
  height: 21px;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 15px;
  margin-left: 6px;
}

.more-details {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: transparent;
  margin-left: 6px;
  /* display: inline-block;
  vertical-align: middle; */
}

/* main page sidebar and main content flex */
.main-page-flex {
  display: flex;
  flex-direction: row;
  background: #fafafa 0% 0% no-repeat padding-box;
}

/* margin main content */

/* .margin-main-content {
  margin-left: 50px;
} */

/* sidebar  */

ul {
  text-decoration: none;
  list-style-type: none;
}

.sidebar-main {
  background-color: #ffffff;
}

.sidebar-common {
  margin-top: 25px;
  margin-right: 20px;
  /* justify-content: space-between; */
  width: 183px;
  /* text-decoration: none; */
  height: 43px;
  border: none;
  /* UI Properties */
  border-radius: 5px;
  /* display: flex;
  flex-direction: row; */
  /* text-align: center; */
  align-items: center;
  background: transparent;

  /* vertical-align: middle; */
  background: #fff3f4 0% 0% no-repeat padding-box;
}

.sidebar-common-inactive {
  margin-top: 25px;
  /* justify-content: space-between; */
  width: 183px;
  /* text-decoration: none; */
  height: 43px;
  border: none;
  /* UI Properties */
  border-radius: 5px;
  /* display: flex;
  flex-direction: row; */
  /* text-align: center; */
  align-items: center;
  background: transparent;

  /* vertical-align: middle; */
  background: transparent;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-right: 12px;

  /* background: #c8242f 0% 0% no-repeat padding-box; */
}

.text-format {
  text-align: left;
  font: normal normal normal 17px/21px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

/* main content for dashboard */
.main-content {
  background: #fafafa 0% 0% no-repeat padding-box;
  margin-left: 73px;
}

.main-heading-paragraph {
  margin-top: 40px;
  display: block;
  width: 150px;
  height: 40px;
  font-size: 24px;
  font: Roboto;
  letter-spacing: 30px;
  letter-spacing: 0px;
  color: #000000;
}

.grid-element {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.flex-grid-element {
  display: flex;
  align-items: center;
  width: 220px;
  height: 120px;
  background-color: #ffffff;
  justify-content: space-evenly;
  border-radius: 5px;
}

.dashboard-icons {
  width: 34px;
  height: 34px;
  margin-bottom: 10px;
  /* background: #c8242f 0% 0% no-repeat padding-box; */
}

.numbers-p {
  /* width: 77px;
  height: 33px; */
  text-align: left;
  font: normal normal medium 25px/33px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.title-p {
  /* width: 94px;
  height: 20px;
  UI Properties */
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

/* main sales  */
.main-sales {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: #fafafa;
  margin-top: 30px;

  /* justify-content: flex-end; */
}

.bg-color {
  background-color: #ffffff;
}

.graph-div {
  display: flex;
  flex-direction: row;
  width: 660px;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 5px;

  /* justify-content: space-between; */
  /* flex-flow: row nowrap; */
}

.graph-img {
  margin-left: 30px;
  margin-top: 25px;
  height: 255px;
  width: 650px;
}

/* .sales-main-options {
  justify-content: end;
} */

.sales-h5 {
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.sale-options {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 14px/16px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  margin-left: 20px;
  margin-right: 10px;
}

.sale-options-active {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 14px/16px Roboto;
  letter-spacing: 0px;
  color: #c8242f;

  padding-bottom: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  width: fit-content;
}

.pie-chart {
  /* margin: auto; */
  margin-left: 30px;
  /* margin-top: 25px; */
  padding-top: 25px;
  margin-right: 30px;
  /* align-items: center; */
  background-color: #ffffff;
  /* margin-right: -80px; */
}

.img-pie-center {
  /* align-items: center; */
  margin: auto;
  /* justify-content: center; */
}

.sales-h5 {
  margin-right: 300px;
  /* margin-left: 30px; */
}

.margin-on-sales {
  margin-left: 30px;
}

/* table */

/* .tr-align {
  align-items: center;
  margin: auto;
} */
/* 
.td-main {
  align-items: center;
  justify-content: center;
} */

.td-main {
  text-align: left;
  /* margin-right: 20px; */
}

.pie-details {
  /* margin-left: 100px; */
  margin: auto;
  text-align: center;
}

/* .margin-auto-in-pie {
  text-align: center;
} */

.mb-2 {
  margin: auto;
  text-align: center;
  margin-left: 118px;
}

.td-small {
  /* margin-right: 10px; */
  align-items: center;
  align-self: center;
  margin-bottom: 8px;
  /* margin: auto; */
  /* width: 180px; */
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.small-radio {
  /* align-self: center; */
  /* margin-bottom: 6px; */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  align-items: center;
  margin-right: 10px;
}

.clr-1 {
  background-color: #c8242f;
}

.clr-2 {
  background-color: #a2b86c;
}

.clr-3 {
  background-color: #f16c20;
}

.clr-4 {
  background-color: #ebc844;
}

/* Invoices */
.main-invoices {
  /* margin-left: 300px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  margin-left: 73px;
  padding-top: 25px;
  padding-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

.invoice-heading {
  /* display: inline-block;
  vertical-align: middle; */
  /* justify-content: center; */
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-invoice {
  display: inline-block;
  vertical-align: middle;
}

.sales-option-color {
  vertical-align: middle;
  color: #c8242f;
  margin-right: 64px;
}

/* invoice table */

.invoice-table-style {
  margin-left: 10px;
  table-layout: auto;
  width: 100%;
}

.heading-for-invoice-table {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
}

.for-border {
  /* margin-top: 10px; */
  border-bottom: 1px solid #adadad;

  /* text-align: center; */
}

th {
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  text-align: left;
}

.breaking-line {
  width: 90%;
  justify-content: center;
  border: 1px solid;
}

.tr-td-text {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.status-padding {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  margin-top: 7px;
  /* align-items: center; */
  text-align: center;
  width: 50px;

  background: #ebffef 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.paid {
  color: #3cdd5f;
}

.failed {
  background: #fff5f5 0% 0% no-repeat padding-box;
  /* padding: 3px; */
  color: #ff4545;
}

.Pending {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  color: #bababa;
}
