body {
  margin: 0;
  border: none;
  background: #fafafa 0% 0% padding-box;
  box-sizing: border-box;
}

.main {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* padding: 72px 150px 72px 150px; */
  /* padding-top: 75px;
  padding-left: 75px; */
  padding: 75px 75px 0 75px;
}

.padding-main {
  /* text-align: center; */
  /* align-items: center; */
  /* flex: 1; */
  justify-content: space-around;
}

.image {
  overflow: hidden;
  padding-right: 15px;
}

.hero-image {
  background: transparent url("img/Ellipse 2.png") 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  width: 100%;
  /* height: 100%; */
  border-radius: 50%;
  /* margin-right: 100px; */
}

.main-content {
  width: 100%;
  width: 80%;
  overflow: hidden;
}

.d1 {
  margin-left: 165px;
}

/* flex second part */

/* main div */

.d2 {
  width: 100%;

  margin-bottom: 20px;
}

.img-logo-style {
  width: 45%;
}

.para-main {
  letter-spacing: 1.4px;
  text-align: left;
  font: normal normal 300 40px/47px Roboto;
  color: #3e3e3e;
}

.red-text {
  font: normal normal 900 40px/53px Roboto;
  letter-spacing: 1.4px;
  color: #c8242f;
  font-weight: bold;
}

.para-login {
  font: normal normal normal 25px/33px Roboto;
  letter-spacing: 0.4px;
  color: #3e3e3e;
  margin-bottom: 25px;
}

.login-data {
  width: 100%;
  height: 100%;
}

.common-margin-input {
  width: 65%;
  height: 50px;
  margin-bottom: 27px;
}

.common-input {
  width: 100%;
  height: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
  text-indent: 14px;
  font: normal normal normal 15px/20px Roboto;
  color: #adadad;
}

/* made by jay dholakia */

.button-red {
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  width: 140px;
  height: 45px;
  text-align: center;
  color: white;
  border: none;
}

.forgot-password-text {
  font: normal normal normal 15px/20px Roboto;
  color: #adadad;
  text-decoration: none;
}

.align-button-text {
  align-items: center;
}

.member-text {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
}

.register {
  font: normal normal normal 15px/20px Roboto;
  color: #c8242f;
  text-decoration: none;
}

/* media queries for css login page */

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .d1 {
    margin-left: 80px;
  }

  .para-main {
    letter-spacing: 0.4px;
    font: normal normal 300 28px/37px Roboto;
  }

  .red-text {
    font: normal normal 900 33px/53px Roboto;
    letter-spacing: 0.4px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .d1 {
    margin-left: 80px;
  }

  .d2 {
    width: 70%;
    height: 50%;
  }
  .img-logo-style {
    width: 100%;
  }
  .para-login {
    font: normal normal normal 18px/26px Roboto;
  }
  .red-text {
    font: normal normal 900 33px/53px Roboto;
    letter-spacing: 0.4px;
  }

  .para-main {
    letter-spacing: 0.4px;
    font: normal normal 300 28px/37px Roboto;
  }

  .common-margin-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }

  .align-button-text {
    margin-bottom: 30px;
  }

  .button-red {
    height: 38px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .d2 {
    width: 50%;
    height: 40%;
  }
  .img-logo-style {
    width: 100%;
  }

  .image {
    display: none;
    visibility: hidden;
    /* flex-shrink: 1; */
  }

  .d1 {
    margin-left: 0px;
  }

  .para-login {
    font: normal normal normal 18px/26px Roboto;
  }

  .red-text {
    font: normal normal 900 33px/53px Roboto;
    letter-spacing: 0.4px;
  }

  .para-main {
    letter-spacing: 0.4px;
    font: normal normal 300 28px/37px Roboto;
  }

  .common-margin-input {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
  }

  .align-button-text {
    margin-bottom: 30px;
  }

  .button-red {
    height: 38px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* dashboard css design  */

.dashboard-header {
  display: inline-block;
  /* justify-content: center; */
  /* margin: auto; */
  width: 95%;
  height: 10vh;
  background: #ffffff 0% 0% no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-left: 25px; */
  /* margin-right: 25px; */
  overflow: visible;
}

/* logo and sidebar button */

.sidebar-header-logo {
  /* height: 50%;
  width: 100%; */
  /* flex: 1 0; */
  text-align: center;

  /* margin: auto; */
  margin: auto;
}

.sidebar-open-close {
  background: transparent;
  border: none;
  /* align-items: center; */
  /* margin-top: 20px; */
}

.sidebar-logo {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.company-logo {
  width: 100%;
  height: 100%;
}

/* form search and logo of search made by jay dholakia */

.form-notification {
  width: 60%;
  /* margin-left: 30px; */
  display: flex;
  /* vertical-align: middle; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#form {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  /* vertical-align: middle; */
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: transparent;
  margin-right: 10px;
  text-align: center;
}

.search-input {
  /* width: 80%; */
  /* vertical-align: middle; */
  border: none;
  padding: 12px;
  width: 90%;
}

.notification-icon {
  width: 5%;
  height: 50%;
  background-color: transparent;
  border: transparent;
  margin-right: 10px;
}

/* profile icons css */

.profile {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.button-profile-pic {
  background-color: transparent;
  border: transparent;
  width: 100%;
  height: 100%;
}

.profile-picture {
  width: 70%;
  height: 70%;
  /* margin-left: 50px;
  margin-right: 12px; */
}

.profile-name {
  align-self: center;
  margin-bottom: 0px;
  width: 100%;
  font: normal normal normal 15px/21px Roboto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  /* padding: 3px 10px; */
  /* width: 50px; */
}

.more-details {
  /* width: 36px;
  height: 36px; */
  width: 40%;
  height: 40%;
  background-color: transparent;
  border: transparent;

  margin: auto;
}

.more-details-svg {
  width: 100%;
  height: 100%;
}

/* mediaquery of header */
@media only screen and (max-width: 1000px) and (min-width: 360px) {
  .sidebar-header-logo {
    width: 10%;
  }

  .company-logo {
    visibility: hidden;
  }

  .sidebar-open-close {
    margin-top: 23px;
  }

  .sidebar-logo {
    margin: auto;
  }

  .sidebar-header-logo {
    margin: none;
  }

  /* hiding sidebar */
  .sidebar-main {
    display: none;
    visibility: hidden;
  }

  .profile-name,
  .more-details {
    display: none;
    visibility: hidden;
  }

  .profile {
    /* margin-left: 5px; */
    width: 20%;
    /* overflow: hidden; */
  }

  .profile-picture {
    width: 44px;
    height: 44px;
    /* margin-left: 5px; */
  }

  .button-profile-pic {
    justify-content: end;
    align-items: center;
    display: inline;
    position: relative;
    /* left: 30px; */
    /* width: 100px; */
    width: 100%;
  }

  .form-notification {
    width: 100%;
    /* margin: none; */
  }

  #form {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }
}

/* mediaquery of header for tablet view */
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .more-details {
    width: 50%;
    height: 50%;
  }

  /* .profile-name {
    font: normal normal normal 14px/16px Roboto;
  } */
}

/* main page sidebar and main content flex */
.main-page-flex {
  display: flex;
  flex-direction: row;
  background: #fafafa 0% 0% no-repeat padding-box;
}

/* sidebar  */

ul {
  text-decoration: none;
  list-style-type: none;
}

.sidebar-main {
  background-color: #ffffff;
}

.sidebar-common {
  margin-top: 25px;
  margin-right: 20px;
  width: 183px;
  height: 43px;
  border: none;
  border-radius: 5px;
  align-items: center;
  background: transparent;

  background: #fff3f4 0% 0% no-repeat padding-box;
}

.sidebar-common-inactive {
  margin-top: 25px;
  width: 183px;
  height: 43px;
  border: none;
  border-radius: 5px;
  align-items: center;
  background: transparent;

  background: transparent;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-right: 12px;
}

.text-format {
  text-align: left;
  font: normal normal normal 17px/21px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

/* main content for dashboard */

.flex-main-for-dashboard {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 30px;
  width: 85%;
}

.main-content-for-dashboard {
  /* width: 97%; */
  background: #fafafa 0% 0% no-repeat padding-box;
  /* margin-left: 73px; */
  /* margin: auto; */
  /* margin-left: 70px; */
}

.main-heading-paragraph {
  /* margin-top: 40px; */
  /* display: block; */
  width: 30%;
  /* height: 40px; */
  font-size: 24px;
  font: Roboto;
  letter-spacing: 30px;
  letter-spacing: 0px;
  color: #000000;
}

.grid-element {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.flex-grid-element {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 10px;
}

.dashboard-icons {
  width: 90%;
  height: 30%;
  /* margin-bottom: 10px; */
}

.title-numbers {
  /* width: 60%; */
}

.numbers-p {
  text-align: left;
  font: normal normal medium 25px/33px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.title-p {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

/* main sales  */
.main-sales {
  /* display: flex;
  flex-direction: rows; */
  display: grid;

  grid-template-columns: 2fr 1fr;
  gap: 20px;
  background-color: #fafafa;
  margin-top: 30px;

  /* padding: 30px; */
}

.bg-color {
  padding: 20px;
  /* position: relative; */
  background-color: #ffffff;
  width: 100%;
}

.graph-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  justify-content: space-between;
}

.sales-h5 {
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  width: 100%;
  /* height: 50%; */
  margin: auto;
  margin-left: 0;
  /* margin-top: 5px; */
}

/* .sales-h5 {
  margin-right: 300px;
} */

.sales-main-options {
  width: 50%;
  margin: auto;

  text-align: center;
  /* align-items: center; */
}

.sale-options,
.sale-options-active {
  /* width: 25%; */
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 14px/16px Roboto;

  color: #adadad;
  /* margin-left: 20px; */
  width: 30%;
  margin: auto;
  /* margin-right: 10px; */
}

.sale-options-active {
  color: #c8242f;

  padding-bottom: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  /* width: fit-content; */
}

.graph-img {
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

.graph-img-fit {
  width: 100%;
  height: 100%;
}

.pie-chart {
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
}

/*  */

.pie-img {
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

.img-pie-center {
  display: block;
  margin: auto;
  width: 80%;
  height: 80%;
}

/* table */

.tr-align {
  padding: 40px;
}

.td-main {
  text-align: left;
}

.pie-details {
  /* margin: auto; */
  margin-top: 32px;
  text-align: center;
  height: 90%;
  width: 100%;
  overflow: hidden;
}

.mb-2 {
  display: inline-block !important;

  justify-content: center !important;
}

.table-after-pie {
  /* padding: 120px; */
  margin: auto;
  text-align: center;
  justify-content: center;
}

.td-small {
  align-items: center;
  align-self: center;
  margin-bottom: 8px;
  margin: auto;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.small-radio {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  align-items: center;
  margin-right: 10px;
}

.clr-1 {
  background-color: #c8242f;
}

.clr-2 {
  background-color: #a2b86c;
}

.clr-3 {
  background-color: #f16c20;
}

.clr-4 {
  background-color: #ebc844;
}

/* Invoices */
.main-invoices {
  /* margin-left: 300px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.invoice-heading {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-invoice {
  width: 20%;
}

.sales-option-color {
  color: #c8242f;
  width: 10%;
  margin-right: 0;
  /* margin-right: 64px; */
}

/* invoice table */

.invoice-table-style {
  margin-left: 10px;
  table-layout: auto;
  width: 100%;
}

.heading-for-invoice-table {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
}

.for-border {
  border-bottom: 1px solid #adadad;
}

th {
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  text-align: left;
}

.breaking-line {
  width: 90%;
  justify-content: center;
  border: 1px solid;
}

.tr-td-text {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.status-padding {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  margin-top: 7px;
  text-align: center;
  width: 50px;

  background: #ebffef 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.paid {
  color: #3cdd5f;
}

.failed {
  background: #fff5f5 0% 0% no-repeat padding-box;
  color: #ff4545;
}

.Pending {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  color: #bababa;
}

/* media query of dashboard page */
/* grid dashboard and sales chart */

@media only screen and (max-width: 1000px) and (min-width: 360px) {
  .flex-main-for-dashboard {
    /* margin: auto; */
    width: 95%;
  }

  .main-content-for-dashboard {
    margin: auto;
  }

  .grid-element {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .flex-grid-element {
    /* display: flex; */
    margin: auto;
    width: 60%;
    height: 100%;
  }

  .main-sales {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
  }

  .bg-color {
    width: 100%;
  }

  .graph-img {
    width: 90%;
    height: 60%;
  }

  .sales-main-options {
    width: 100%;
    text-align: center;
    /* align-items: center; */
  }

  .pie-chart {
    width: 100%;
    align-items: center;
    align-self: center;
  }

  .pie-img {
    width: 50%;
    height: 50%;
  }

  .tr-td-text {
    font: normal normal normal 13px/20px Roboto;
  }

  .heading-for-invoice-table {
    font: normal normal normal 14px/20px Roboto;
    letter-spacing: 0.5px;
    color: #adadad;
  }

  th,
  td {
    padding: 2px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .grid-element {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .flex-grid-element {
    /* display: flex; */
    margin: auto;
    width: 60%;
    height: 100%;
  }

  .sales-main-options {
    width: 50%;
    margin: auto;
  }

  .tr-td-text {
    font: normal normal normal 12px/20px Roboto;
  }

  .heading-for-invoice-table {
    font: normal normal normal 14px/20px Roboto;
    letter-spacing: 1px;
    color: #adadad;
  }

  th,
  td {
    padding: 4px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
  .grid-element {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .flex-grid-element {
    /* display: flex; */
    margin: auto;
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .tr-td-text {
    font: normal normal normal 10px Roboto;
  }

  .heading-for-invoice-table {
    font: normal normal normal 11px Roboto;
    /* letter-spacing: 0.5px; */
    color: #adadad;
  }

  tr,
  td {
    padding: 1px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* innerpage css */

.main-form {
  padding-top: 15px;
  padding-left: 20px;
  background-color: #ffffff;
  width: 1250px;
}

.input-options {
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  margin-bottom: 15px;
}

.input-size {
  text-align: start;
  padding-left: 15px;
  width: 1175px;
  height: 49px;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-bottom: 20px;
}

.color-of-options {
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.text-area-size {
  text-align: start;
  padding-left: 15px;
  width: 1175px;
  height: 130px;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-bottom: 44px;
}

.input-size-2 {
  text-align: start;
  padding-left: 15px;
  width: 580px;
  height: 49px;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: -9px;
}

/* column 3 input */
.input-size-3 {
  text-align: start;
  padding-left: 15px;
  width: 386px;
  height: 49px;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: -9px;
}

.disabled-input {
  border: 2px dotted #adadad;
}

.input-size-3:focus {
  outline: none !important;

  border: 1px solid #c8242f;
}

.text-for-options,
.text-area-size,
.input-size-3:focus,
.input-size:focus,
.input-size-2:focus,
.input-size-4:focus {
  outline: none !important;

  border: 1px solid #c8242f;
}

.input-size-4 {
  text-align: start;
  padding-left: 15px;
  width: 290px;
  height: 49px;
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: -9px;
}

.input-options-2 {
  text-align: left;
  font: normal normal medium 18px/24px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.button-form {
  width: 124px;
  height: 36px;
  border: 1px solid #c8242f;
  border-radius: 18px;
  background-color: #ffffff;
  color: #c8242f;
}

.button-text {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 36px;
}

.p-for-button {
  margin-left: 20px;
  display: inline;
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #adadad;
}

.padding-for-radio {
  margin-right: 40px;
  margin-bottom: 32px;
}

.snackbar-icon {
  width: 24px;
  height: 24px;
}

.button-primary {
  width: 124px;
  height: 45px;
  background: #c8242f 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 22.5px;
  border: none;
}

.button-secondary {
  width: 124px;
  height: 45px;
  background: transparent 0% 0% no-repeat padding-box;
  color: #c8242f;
  border-radius: 22.5px;
  border: #c8242f 1px solid;
  margin-left: 22px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.button-border-style {
  border-bottom: #adadad 1px solid;
  width: 97.6%;
}

.tab-styles {
  width: 70px;
  height: 40px;
  background: transparent;
  border: none;
}

.tab-styles-active {
  color: #c8242f;
  border-bottom: #c8242f 2px solid;
}

.button-style {
  text-align: left;
  font: normal normal normal 15px/24px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  padding-top: 25px;
  padding-right: 22px;
  padding-bottom: 75px;
}
